html {
  font-size: 62.5;

}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.App {
  text-align: center;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 22.5rem;
  height: 55rem;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 0.5rem;
}


.nav-button {
  background-color: white;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.nav-button:hover {
  background-color: #333;
  color: white;
}

main {
  margin-top: 2em;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.6rem;
}

.day {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7rem;
}

.open {
  text-align: left;
  font-weight: bold;
  width: 50%;
}

.time {
  text-align: right;
  width: 50%;
  font-weight: bold;
}

.welcome {
  font-weight: bold;
  font-size: 2rem;
}

.cont-one {
  margin-top: 2rem;
}

.container-menu {
  gap: 1em;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.container-shop {
  display: flex;
  gap: 1rem;
  font-size: 1.6rem;
  justify-content: space-between;
} 

.div-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.8rem;
}

.price-list {
  display: flex;
  flex-direction: column;
}

.container-shop-item-name {
  text-align: left;
}

.other {
  text-align: left;
}

.container-shop-item-price {
  text-align: right;
  white-space: nowrap;
}

main {
  margin-top: 10px;
}

.green {
  color: #108444;
}

.sup {
  font-size: 1.4rem;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 1rem;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  padding: 5px 10px;
  border: 1px solid #108444;
  background-color: #108444;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.pagination .active a {
  background-color: white;
  color: #108444;
}